#jinja2: trim_blocks: True, lstrip_blocks: True
---
# {{ ansible_managed }}
#
# Loads default set of integrations. Do not remove.
# default_config:

{% if home_assistant_configuration | count > 0 %}
  {% for k, v in home_assistant_configuration.items() %}
    {% if v | bodsch.core.type == "str" %}
      {% if v | string | length > 0 %}
{{ k }}: {{ v }}
      {% else %}
# {{ k }}:
      {% endif %}
    {% else %}
## unsupported config type: {{  v | bodsch.core.type }}
## {{ k }}: {{ v }}
    {% endif %}
  {% endfor %}
{% endif %}
