#jinja2: trim_blocks: True, lstrip_blocks: True
---
# {{ ansible_managed }}
{% if home_assistant_lovelace.dashboard | default({}) | length > 0 %}
{{ home_assistant_lovelace.dashboard | to_nice_yaml(indent=0, sort_keys=False) | indent(width=0, first=False, blank=False) }}
{% else %}
title: Home
views:
  - title: Home
    path: home
    icon: mdi:home
    cards:
      - type: markdown
        content: >-
          ## Welcome

          This dashboard is managed by Ansible. Define your views in
          `home_assistant_lovelace.dashboard`.
{% endif %}
